.lgWidth{
    width: 200px;
    padding-top: 20px;
}

.title{
  color: blue;
}

#wicon {
    height: 75px;
    width: 75px;
}

.icon2 {
    height: 75px;
    width: 75px;
}

.topcities {
  text-decoration: underline;
  text-align: center;
}


.fiveDay {
    text-align: center;
}

.row{
justify-content: center;
  flex-direction: row;
}

.all{
    text-align: center;
  padding-bottom: 10px;
}

  @media  (max-width: 600px) {
    .lgWidth{
        width: 150px;
        padding-top: 20px;
    }
  }
  